.Cover {
    height: 100vh;
    padding-top: 200px;
    color: white;
    background-color: #080707d9;
    background-position: center;

    transition: transform 0.3s ease-out;
}

.Open {
    transform: translateY(0);
    height: 100vh;
}

.Close {
    transform: translateY(-100%);
}

.btnContainer {
  opacity: 0;
  animation: showBtn 0.1s;
  animation-delay: 9s;
  animation-fill-mode: forwards;
}

@keyframes showBtn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}